<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You are looking for something unreachable in this web application</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Cocktails" asp-action="Index">Go back to Home Page</a>
    </div>
</div>